/* MUST HAVE*/
.body {
    font-family: Arial;
   background: #fffcfc;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 100px;
    text-align: center;
    columns: #202020;
    ;
  }
  
  .header h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color:white;
    opacity: 75%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #202020;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    
  }
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}


.right{
  display: block;
  margin-left: auto;
  margin-right: 10px;
  width: 30%;
}
/* Footer */
.footer {

  background:white;
  margin-top: 20px;}